<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <title>WeatherCharts</title>
    </head>
    <body>
        <div id="container">
            <div>
                Choose city:<br />
                <select id="city" name="city">
                    <option value="">----Select----</option>
                    <option th:each="entry : ${cityList}" th:value="${entry.id}" th:text="${entry.name}"></option>
                </select>
            </div>
            <div class="spacer_small"></div>

            <div id="info" />
            <div id="div_temp" class="chart_container" />
            <div class="spacer_small" />
            <div id="div_humidity" class="chart_container" />
            <div class="spacer_small" />
            <div id="div_pressure" class="chart_container" />
            <div class="spacer_small" />
            <p id="hint">Hint: Click and drag to zoom in. Hold down shift key to pan.</p>
        </div>
        <div id="spin" />

        <script src="js/highcharts.js"></script>
        <script src="js/jquery-2.2.2.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/spin.min.js"></script>
    </body>
</html>